
.name{
    margin-top: 15%;
    margin-left: 4%;
   color: rgb(153, 158, 163);
    font-size:400%;
    font-style: italic;
   
}
body{
      
  background-size: cover;
  background-repeat: no-repeat;

}
.ote{
    font-size: 50%;
    color: rgb(153, 158, 163);
font-style: italic;
}

a{
    color: rgb(153, 158, 163);
    margin-right: 20px;
    text-decoration:underline;
}
.next{
    margin-left: 80%;
    border-radius: 50px;
    background-color: transparent;
    padding: 20px 50px;
font-size: medium;
color: beige;
}
.log{
     margin-left: 1%;
    border-radius: 50px;
    background-color: transparent;
    padding: 15px 30px;
font-size: medium;
color: beige;
}
.reg{
     margin-left: 1%;
    border-radius: 50px;
    background-color: transparent;
    padding: 15px 30px;
font-size: medium;
color: beige;
}
.anc{
    margin-top: 2%;
    margin-left: 3%;
}

.emailen{
    margin-left: 65%;
    margin-top: 17%;
    border-radius: 50px;
    background-color: transparent;
    padding: 20px 100px;
    font-size: medium;
    color: rgb(156, 156, 156);
    
}
.pass{
    background-color: transparent;
    border-radius: 50px;
    padding: 20px 100px;
    font-size: medium;
    margin-left: 65%;
    margin-top: 18px;
    color:rgb(156, 156, 156);
    
}
.login{
    margin-left: 73%;
    margin-top: 50px;
    color: aliceblue;
    
}
.fp{
    margin-left: 70%;

text-decoration: none;


}
.sm{
    text-decoration: none;
   
}
.hm{
   
    border-radius: 50px;
    background-color: transparent;
    padding: 20px 50px;
    font-size: medium;
    color: rgb(156, 156, 156);
}
.cp{
    background-color: transparent;
    border-radius: 50px;
    padding: 20px 100px;
    font-size: medium;
    margin-left: 65%;
    margin-top: 18px;
    color:rgb(156, 156, 156);
}
.r{
  background-color: transparent;
    border-radius: 50px;
    padding: 20px 100px;
    font-size: medium;
    margin-left: 65%;
    margin-top: 18px;
    color:rgb(156, 156, 156);  
}
.email{
    background-color: transparent;
    border-radius: 50px;
    padding: 20px 100px;
    font-size: medium;
    margin-left: 65%;
    margin-top: 18px;
    color:rgb(156, 156, 156);
}